<nav class="navbar position-sticky navbar-expand-lg bg-body-tertiary bg-dark text-white" data-bs-theme="dark">
  <div class="container-fluid mx-lg-5">
    <a href="" class="nabar-brand fw-bold fs-3 text-uppercase text-decoration-none text-warning">Chaitanya</a>
    <div class="links d-flex gap-2">
      <div class="nav-item">
        <a class="nav-link active" routerLink="/">Home</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </div>
      <div class="nav-item">
        <a class="nav-link " routerLink="/about">About</a>
      </div>
    </div>
  </div>
</nav>
