<!-- <div class="container mt-5"> -->
  <h4 class="text-center mb-4">This is my first component</h4>
  <!-- <div class="card">

    <div class="card-body">
      <div class="card-img-top">
        <img src="https://angular.io/assets/images/logos/angular/angular.png" />
      </div>
      <div class="card-title">
        <h3>Welcome to Angular</h3>
      </div>
      <div class="card-text">
        <p>This is my first angular app</p>
      </div>
      <button class="btn btn-primary">Card Button</button>
    </div>
  </div> -->

  <div class="row gap-2">
    <div class="para bg-primary p-3 text-center">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi sit dolor officiis, quo cum
      possimus blanditiis maiores mollitia deserunt voluptatum. Quae, voluptatum? Error, voluptatum
      tempore!
    </div>
    <div class=" para bg-success p-3 text-center">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi sit dolor officiis, quo cum
      possimus blanditiis maiores mollitia deserunt voluptatum. Quae, voluptatum? Error, voluptatum
      tempore!
    </div>
    <div class=" para bg-warning p-3 text-center">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi sit dolor officiis, quo cum
      possimus blanditiis maiores mollitia deserunt voluptatum. Quae, voluptatum? Error, voluptatum
      tempore!
    </div>
    <div class=" para bg-danger p-3 text-center">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi sit dolor officiis, quo cum
      possimus blanditiis maiores mollitia deserunt voluptatum. Quae, voluptatum? Error, voluptatum
      tempore!
    </div>
  </div>
<!-- </div> -->
